<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" -->
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" src={{url_for('static', filename="/css/bootstrap.min.css")}} -->
<link rel="stylesheet" href="static/css/bootstrap.min.css" >
    <title>Welcome to CRUD with Search</title>
  </head>
  <body>
    <h1 align="center">Welcome to CRUD with Search</h1>
    <div class="container">

    <!-- search -->
    <form method="POST" action="/">
      <div class="form-group">
        <label for="exampleInputEmail1">name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" placeholder="Enter Name">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Hobby</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="hobby" placeholder="Hobby">
      </div>
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
  
  <br>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline" method="POST" action="/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="submit">Search</button>
    </form>
  </nav>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Hobby</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {%for d in data%}
        <tr>
        <th scope="row">{{d.id}}</th>
        <td>{{d.name}}</td>
        <td>{{d.hobby}}</td>
        <td><a href="/update/{{d.id}}">update</a></td>
        <td><a href="/delete/{{d.id}}">delete</a></td>
      </tr>
      {%endfor %}
      </tbody>

      <tbody>
        {%for ds in datas%}
        <tr>
        <th scope="row">{{ds.id}}</th>
        <td>{{ds.name}}</td>
        <td>{{ds.hobby}}</td>
        <td><a href="/update/{{ds.id}}">update</a></td>
        <td><a href="delete/{{ds.id}}">delete</a></td>
      </tr>
      {%endfor %}
      </tbody>
    </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 -->
 </body>

  <!--"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
</html>